<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 
3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 사용자 정보 테이블(user_info) 작업 -->
<mapper namespace="hs.spring.hsweb.mapper.user.UserMapper">

	<!-- 사용자 존재 여부 조회 -->
	<select id="selectUserInfoCount" parameterType="String" resultType="Integer">
		select count(*) from
		user_info where userId=#{value};
	</select>

	<!-- 사용자 정보 조회(1명) -->
	<select id="selectUserInfoOne" parameterType="String" resultType="UserInfoVO">
		select * from user_info
		where userId = #{value}
	</select>

	<!-- 사용자 목록 조회(전체) -->
	<select id="selectUserInfoList" resultType="UserInfoVO">
		select * from user_info
	</select>

	<!-- 사용자 권한 조회(1명, 로그인을 위함) -->
	<select id="selectUserAuthOne" parameterType="String" resultType="String">
		select userAuth from
		user_auth where userId=#{value}
	</select>

	<!-- 사용자 정보 추가(가입) -->
	<insert id="insertUserInfo" parameterType="UserInfoVO">
		insert into user_info values
		(#{userId},#{userPw},#{userName},#{userPhone},#{userEmail},#{userInitTime})
	</insert>

	<!-- 사용자 디폴트 권한 추가(가입) -->
	<insert id="insertUserAuthDefault" parameterType="String">
		insert into user_auth values (#{userId},
		'default')
	</insert>

	<!-- 사용자 정보 삭제(탈퇴) -->
	<delete id="deleteUserInfo" parameterType="String">
		delete from user_info where userId=#{value}
	</delete>

	<!-- 사용자 정보 수정 -->
	<update id="updateUserInfo" parameterType="UserInfoVO">


	</update>



</mapper>